 .circleRating {
    background-color: rgb(255, 251, 251);
    position: relative;
    border-radius: 50%;
    margin-left: 7px;
}
.circleRating .CircularProgressbar-text {
    font-size: 34px;
    font-weight: 700;
    color: black;
}
.circleRating .CircularProgressbar-trail {
    stroke: transparent;
} 
