.cinema-time-card{
    min-height: 300px;
}
.add-button{
    position: absolute;
    right: 29px;
    margin: 5px;
    bottom: 0px;
}
.container-showtime{
    height: 490px;
    overflow: scroll;
    overflow-x: hidden;
}
.time-box {
    height: 50px;
    font-size: 13px;
    background-color: rgb(237, 240, 247);
    width: 60px; /* Adjust the width as per your requirement */
  }