.food-image{
	height: 150px;
	width: 150px;
}
.description{
	display: flex;
	height: 50px;
	justify-content: space-between;
}
.description .btn{
	max-height: 35px;
	align-self: flex-end;
}
.description p{
	max-width: 50%;
	color: rgba(255, 255, 255, 0.452);
}
@media only screen and (max-width: 768px) {
	.oderSummary{
		display: none;
		margin: 0;
		padding: 0;
	}
	.food-image{
		height: 100px;
		width: 100px;
	}
	.description{
		height: 70px;
	}
	/* .ard-body {
		margin-top: -10px;
	} */
}
