.food-image{
	height: 150px;
	width: 150px;
	object-fit: cover;
}
.description{
	display: flex;
	height: 50px;
	justify-content: space-between;
}
.description .btn{
	max-height: 35px;
	align-self: flex-end;
}
.description p{
	max-width: 70%;
	color: rgba(255, 255, 255, 0.452);
	font-size: 12px;
}
.addremove-box{
	display: flex;
	justify-content: space-between;
	width: 25%;
	align-self: flex-end;
}
.addremove-box .addremove{
	width: 100%;
	height: 100%;
	border: 1px solid red;
	border-radius: 100%;
	text-align: center;
}
.addremove-box .addremove:hover{
	background-color: aliceblue;
	color: black;
}
@media only screen and (max-width: 768px) {
	.oderSummary{
		display: none;
		margin: 0;
		padding: 0;

	}
	.food-image{
		height: 100px;
		width: 100px;
	}
	.description{
		height: 70px;
		font-size: 10px;
	}
}
