.detailsBanner {
    width: 100%;
    background-color: #04152d;
    padding-top: 100px;
    margin-bottom: 50px;
    position: absolute;
    top: -20px;
}
@media only screen and (min-width: 768px) {
    .detailsBanner {
        margin-bottom: 0;
        padding-top: 120px;
        min-height: 700px;
   }
}
.detailsBanner .backdrop-img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.1;
    overflow: hidden;
}
.detailsBanner .backdrop-img .lazy-load-image-background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
 .content {
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 25px;
}
.detail-title{
    font-size: 30px;
    line-height: 44px;
}
.detail-dec{
    line-height: 24px;

}
@media only screen and (min-width: 768px) {
    .content {
        gap: 50px;
        flex-direction: row;
   }
}
 .left {
    flex-shrink: 0;
}
 .posterImg {
    width: 100%;
    display: block;
    border-radius: 12px;
}
@media only screen and (min-width: 768px) {
   .posterImg {
        max-width: 380px;
   }
}
.right {
    color: white;
}
@media only screen and (min-width: 768px) {
     .content .right .title {
        font-size: 34px;
        line-height: 44px;
   }
}
.detailsBanner .content .right .subtitle {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 15px;
    font-style: italic;
    opacity: 0.5;
}
@media only screen and (min-width: 768px) {
    .detailsBanner .content .right .subtitle {
        font-size: 20px;
        line-height: 28px;
   }
}
 .genres {
    margin-bottom: 25px;
    font-size: 30px;
}
 .overview {
    margin-bottom: 25px;
}
 .overview .heading {
    font-size: 24px;
    margin-bottom: 10px;
}
.overview .description {
    line-height: 24px;
}
@media only screen and (min-width: 768px) {
    .detailsBanner .content .right .overview .description {
        padding-right: 100px;
   }
}
.detailsBanner .content .right .circleRating {
    max-width: 70px;
    background-color: transparent;
}
@media only screen and (min-width: 768px) {
    .detailsBanner .content .right .circleRating {
        max-width: 90px;
   }
}
.right .circleRating .CircularProgressbar-text {
    fill: rgb(249, 246, 246);
}
.right .playbtn {
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;
}
.playbtn svg {
    width: 60px;
}

.detailsBanner .content .right .playbtn .text {
    font-size: 15px;
    transition: all 0.7s ease-in-out;
}
@media only screen and (min-width: 768px) {
    .detailsBanner .content .right .playbtn svg {
        width: 80px;
   }
   .detailsBanner .content .right .playbtn .text {
    font-size: 20px;
}
}
.detailsBanner .content .right .playbtn .triangle {
    stroke-dasharray: 240;
    stroke-dashoffset: 480;
    stroke: white;
    transform: translateY(0);
    transition: all 0.7s ease-in-out;
}
.detailsBanner .content .right .playbtn .circle {
    stroke: white;
    stroke-dasharray: 650;
    stroke-dashoffset: 1300;
    transition: all 0.5s ease-in-out;
}
.detailsBanner .content .right .playbtn:hover .text {
    color: var(--pink);
}
.detailsBanner .content .right .playbtn:hover .triangle {
    stroke-dashoffset: 0;
    opacity: 1;
    stroke: var(--pink);
    animation: trailorPlay 0.7s ease-in-out;
}
.detailsBanner .content .right .playbtn:hover .circle {
    stroke-dashoffset: 0;
    stroke: var(--pink);
}
.detailsBanner .content .right .row {
    display: flex;
    align-items: center;
    gap: 25px;
    margin-bottom: 25px;
}
 .info {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding: 15px 0;
    display: flex;
}
 .infoItem {
    margin-right: 10px;
    display: flex;
    flex-flow: row wrap;
}
 .info .text {
    margin-right: 10px;
    opacity: 0.5;
    line-height: 24px;
}
 .text.bold {
    font-weight: 600;
    opacity: 1;
}

.right >.row >.btn {
    background: linear-gradient( rgba(216, 220, 224, 0.486), #0950b4);
    color: #fff;
    padding: 1rem 3rem;
    font-size: 15px;
    font-weight: 600;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
    transition-duration: 0.4s;
}

.row .btn:hover{
    background: #fff;
    box-shadow: 0px 2px 20px 5px #97B1BF;
    color: #000;
}

@media only screen and (min-width: 768px) {
   .right .row .btn {
    font-size: 20px;
  }
}
/* skeleton css start */
@keyframes skeleton {
    0%{
        background-color: hsl(204, 43%, 70%);
    }
    100%{
        background-color: hsl(201, 62%, 29%);
    }
}
.detailsBanner .detailsBannerSkeleton {
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 25px;
}
@media only screen and (min-width: 768px) {
     .detailsBannerSkeleton {
        gap: 50px;
        flex-direction: column;
   }
}
.detailsBanner .detailsBannerSkeleton .contentWrapper {
    display: flex;
    gap: 50px;
}
.detailsBanner .detailsBannerSkeleton .left {
    width: 100%;
    display: block;
    border-radius: 12px;
    aspect-ratio: 0.6666666667;
    animation: skeleton 0.8s linear infinite alternate;

}
@media only screen and (min-width: 768px) {
    .detailsBanner .detailsBannerSkeleton .left {
        max-width: 350px;
   }
}
.detailsBanner .detailsBannerSkeleton .right {
    width: 100%;
}
.detailsBanner .detailsBannerSkeleton .right .row {
    width: 100%;
    height: 25px;
    margin-bottom: 20px;
    border-radius: 50px;
    animation: skeleton 0.8s linear infinite alternate;

}
.detailsBanner .detailsBannerSkeleton .right .row:nth-child(2) {
    width: 75%;
    margin-bottom: 50px;
    animation: skeleton 0.8s linear infinite alternate;

}
.detailsBanner .detailsBannerSkeleton .right .row:nth-child(5) {
    width: 50%;
    margin-bottom: 50px;
    animation: skeleton 0.8s linear infinite alternate;
}
