.popular-main{
    position: absolute;
    top:550px;
    left: 5%;
    right: 5%;
}
.popular-main .movie-title{
    color: aliceblue;
    font-size: 30px;
}
@media only screen and (max-width: 600px) {
    .popular-main{
        top:400px;
    }
    .movie-title{
        top: 400px;
        font-size: 25px;
    }
  }