.status-container .chk{
    margin: 0 10px;
}
.chk {
  border: 1.5px solid #00b8f5;
  border-radius: 5px;
  height: 28px;
  width: 25px;
  margin: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 8px;
  padding: 3px;
}
.chk:hover {
  box-shadow: 0px 0px 10px 1px #00b8f5;
}
.con {
  overflow: scroll;
}
.btn1 {
  position: relative;
  left: 520px;
  top: 10px;
}
.screen {
  margin-left: 10rem;
  margin-top: 60px;
  margin-bottom: 10px;
  border: 1px solid rgb(69, 121, 185);
  height: 1.3rem;
  width: 70%;
  border-radius: 0% 0% 100% 100%;
}
#p {
  font-size: large;
  margin-top: -4px;
}
.book-btn {
   background: linear-gradient(rgba(216, 220, 224, 0.486), #0950b4);
   width: 100%;
  color: #fff;
  padding: 0.5rem 2rem;
  font-size: 15px;
  font-weight: 600;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  transition-duration: 0.4s; 
}
.book-btn:hover {
  background: #fff;
  box-shadow: 0px 2px 20px 5px #97b1bf;
  color: #000;
}
.book-container{
  width: 40%;
  position: absolute;
}
.price-title{
  font-size: 20px;
  color: rgba(245, 222, 179, 0.43);
  width: 100%;
  align-self: center;
}
@media only screen and (max-width: 768px) {
  .screen-container {
    position: absolute;
    width: 100%;
    overflow-x: scroll;
  }
  .con .row {
    width: 200%;
  }
  .screen {
    position: relative;
    width: 300px;
    left: 0px;
    margin-top: 20px;
  }
  .status-container {
    margin: 0 10px;
}
.book-container{
  width: 100%;
  position: fixed;
  bottom: 0px;
  left: 0px;
}
}
@media only screen and (min-width: 768px) {
  .chk {
    margin: 8px 7px;
    font-size: 10px;
    line-height: 10px;
  }
  .con {
    position: relative;
    top: 60px;
    margin-left: 100px;
    height: 580px;
  }
  .book-btn {
    font-size: 20px;
  }
}
