/* Sidebar.css */

/* Base styles */
.sidebar {
  width: 20%;
  height: 599px;
  background-color: rgb(48, 57, 97);
  padding-top: 20px;
}

.sidebar .admin-card img {
  border-radius: 50%;
  height: 60px;
  width: 60px;
}

.status-dot {
  height: 10px;
  width: 10px;
  border-radius: 50%;
}

.sidebar ul {
  list-style-type: none;
  padding: 10px;
}

.sidebar ul li {
  margin-bottom: 15px;
  padding-left: 15px;
  padding: 6px 15px;
}

.sidebar ul li a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.552);
  font-size: 18px;
}
.sidebar ul li a:hover {
  text-decoration: none;
  color: rgb(255, 255, 255);
  transition: all ease 0.1s;
}
/* Responsive styles */
@media only screen and (max-width: 768px) {
  .sidebar {
    width: 100%;
    height: auto;
  }
  
  .sidebar ul li {
    padding: 10px;
  }
  
  .sidebar ul li a {
    font-size: 16px;
  }
}
