* {
    font-family: 'Poppins', sans-serif;
  }
  .navbar {
    background-color: rgba(0,0,0,0.2);
    backdrop-filter: blur(15px);
    position: relative;
    z-index: 10000;

  }
  
  .navbar-brand {
    color: #ffffff;
    font-weight: bold;
  }
  
  .navbar-nav .nav-item .nav-link {
    color: #fff;
    position: relative; 
    transition: 0.3s;
    font-weight: 400;
    color:#fff;
  }
  
  .navbar-nav .nav-item .nav-link::before {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #f8b739;
    transition: 0.3s;
    color:#fff;
  }
  
  .navbar-nav .nav-item .nav-link:hover::before {
    width: 100%; 
    color: #fff;
  }
  .imglogo{
    height: 15px;
   width: 50px;
    transform: scale(3);
  }
  .text-primary{
  
  }
  @media only screen and (max-width: 640px) {
    .imglogo{
        /* position: absolute; */
        margin-left: 70px;
        height: 100ox;
    }
}

  