.cinema-container {
    display: flex;
    flex-direction: column;
    position: relative;
    top:-25px;
    margin-bottom: 10px;
}
.cinema-info{
   display: flex;
   flex-direction: column;
   background-color: rgba(255, 255, 255, 0.1);
   padding: 10px;
   border-radius: 20px;
}
.cinemaName{
    color: white;
    font-size: 16px;
    font-weight: 500px;
    line-height: 24px;
    letter-spacing: 1px;
} 
.cinema-location{
    display: flex;
    color: rgba(255, 255, 255, 0.426);
    padding: 3px 11px;
    border-radius: 20px;
    margin: 5px;
    cursor: pointer;
    border: 1px solid white;
    width: 80px;
    text-align: center;
    transition: all ease 0.2s;
    letter-spacing: 4px;
}
.cinema-location:hover{
    cursor: pointer;
    scale: 1.1;
}
.cinema-address{
    color: rgba(255, 255, 255, 0.426);
    border-radius: 96px;
    cursor: pointer;
    font-size: 14px;
}
.time-info{
    background-color: rgba(0, 0, 0, 0.2);  
    border-radius: 30px;
}
.mappopup {
    position: fixed;
    overflow: scroll;
    z-index: 10;
}
.mappopup iframe{
    height: 200px;
    width: 100%;
}
.notFoundImage {
    display: flex;
    justify-content: center;
}
.notFoundImage img{
    height: 300px;
    width: 300px;
    margin-top: 20px;
}
.notFoundImage h2{
    position: absolute;
    color: white;
}
@media only screen and (min-width: 768px) {
    .cinema-info{
        margin-left: 5%;;
        font-size: 18px;
        width: 30%;

    }
    .cinemaName{
        font-size: 23px;
    } 
    .cinema-container {
        flex-direction: row;
    }
    .time-info{
        margin-left: 45px;
        margin-right: 50px;
        padding: 10px 20px;
    }
    .mappopup {
        top: 25%;
        left:35%;
    }
    .mappopup iframe{
        height: 300px;
        width: 400px;
    }
  }