 .cardimg{
    height: 300px;
    width: 180px;
    overflow: hidden;
}
.card-box{
    margin: 10px 0; 
    border-radius: 10px;
    overflow: hidden;
}
.cardimg:hover{
    animation: scaling 2s infinite;
}
@keyframes scaling{
    0%{
        scale: 1;
    }
    50%{
        scale: 1.12;
    }
    190%{
        scale: 1;
    }
}
.movie-name-card{
    color: aliceblue;
    font-size: 20px;
    overflow: hidden; 
    height: 25px;
}
.release-date-card{
    color: rgba(247, 246, 243, 0.5);
    font-size: 14px;
}
.card-box .circleRating{
    height: 50px;
    width: 50px;
    margin-top: -30px;
}
.card-box .circleRating .CircularProgressbar-text {
     fill: black;
}
.genres{
        display: flex;
        flex-flow: wrap;
}
@media only screen and (max-width: 600px) {
    .cardimg  {
      width: 130px;
      height: 240px;
    }
    .card-box{
        margin: 5px 0; 
    }
  }