.dateContainer {
  color: aliceblue;
  margin-top: 6%;
}
.dateContainer .dateDetail{
    display: flex;
}
.dateContainer .dateDetail .month {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  font-size: 2rem;
  color: #fff;
  font-weight: 600;
  letter-spacing: 0.7px;
  border-radius: 4px;
  text-transform: uppercase;
  box-shadow: 3px 0 5px #f6f6f6;
  background-color: rgb(126, 126, 126);
}
.dateContainer .dateDetail .dateBox{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 100%;
    flex-direction: column;
    padding: 10px;
    margin-left: 10px;
    background-color: rgb(209, 201, 201);
    color: black;
    border-radius: 10px;
    transition: all 0.5s;
}
.dateContainer .dateDetail:hover .dateBox:hover{
     background-color: rgb(47, 47, 129); 
    box-shadow: 0 0 5px 5px rgb(47, 47, 129);
    margin-left: 20px;
    margin-right: 20px;
    color: wheat;
}
#active{
  background-color: rgb(26, 5, 93);
  color: rgb(235, 227, 227);
  box-shadow: 0 0 5px 5px rgb(47, 47, 129);
}
