.dateContainer {
  color: aliceblue;
  position: relative;
  margin:15% 0;
}

.dateContainer .dateDetail{
    display: flex;
    overflow: scroll;
}
.dateContainer .dateDetail .month {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  font-size: 2rem;
  color: #fff;
  font-weight: 600;
  letter-spacing: 0.7px;
  border-radius: 10px;
  text-transform: uppercase;
  box-shadow: 3px 0 5px #f6f6f6;
  background-color: rgb(126, 126, 126);
}
.dateBox{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 100%;
    flex-direction: column;
    padding: 10px;
    margin-left: 10px;
    background-color: rgba(12, 12, 12, 0.27);
    color: rgb(244, 239, 239);
    border-radius: 10px;
    transition: all 0.4s;
}
@media only screen and (min-width: 768px) {
  .dateContainer {
    margin: 5%;
  }
}
 .dateBox:hover{
     background-color: rgb(10, 10, 232); 
    box-shadow: 0 0 5px 5px rgb(47, 47, 129);
    color: wheat;
    scale: 1.2;
}
.active{
  background-color: rgba(43, 13, 234, 0.881);
  color: rgb(235, 227, 227);
}
