 .circleRating {
    background-color: white;
    position: relative;
    height: 50px;
    width: 50px;
    margin-top: -30px;
    border-radius: 50%;
    margin-left: 7px;
}
.circleRating .CircularProgressbar-text {
    font-size: 34px;
    font-weight: 700;
    fill: black;
}
.circleRating .CircularProgressbar-trail {
    stroke: transparent;
} 
