.container-invoice {
  width: 25em;
  margin: 3em auto;
  color: #888;
  font-family: "Times New Roman", Times, serif;
}
.container-invoice .card {
  width: 300px;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: -10px 15px 0 0;
  position: relative;
  overflow-x:hidden ;
}
.container-invoice .card-upper {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  width: auto;
}
.container-invoice .card-lower {
  width: auto;
  border-top: 0.18em dashed #888;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
}
.container-invoice .card-lower::before,
.container-invoice .card-lower::after {
  content: "";
  position: absolute;
  display: block;
  width: 0.9em;
  height: 0.9em;
  background: rgba(159, 157, 157, 0.988);
  border-radius: 50%;
  left: -0.5em;
}
.container-invoice .card-lower::before {
  top: -0.4em;
  left: -0.2em;
}
.container-invoice .card-lower::after {
  top: -0.4em;
  left: 26.4em;
}
.container-invoice .card-upper .title {
  display: flex;
  justify-content: space-between;
  color: rgba(33, 32, 32, 0.637);
}
.container-invoice .card-upper .item .name {
  color: black;
  font-size: 20px;
}
.container-invoice .card-upper .title .ticket {
  display: flex;    
  font-size: 25px;
}
.container-invoice .card-upper .time {
  font-size: medium;
  color: black;
}
.container-invoice .card-upper .title h1 {
  text-align: left;
  font-size: 20px;
  margin-bottom: 20px;
}

.container-invoice .card-upper .item {
  margin-bottom: 10px;
}
.container-invoice .item-lower{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#vall {
  color: blue;
  text-decoration: underline;
}
.container-invoice .card-upper .item .name {
  font-weight: bold;
}

.container-invoice .card-upper .item .price {
  color: #888;
}

.container-invoice .card-lower .total {
  display: flex;
  justify-content: space-evenly;
  font-weight: bold;
  margin-top: 20px;
  background-color: rgb(205, 207, 105);
  padding: 5px;
  color: black;
}
.container-invoice .card-lower .item-lower .price-right {
  text-align: right;
  margin: 10px;
}
.container-invoice .card-lower .item-lower  .price {
  font-size: small;
}
.container-invoice .card-lower .total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  pointer-events: none;
}
.container-invoice .card-lower .total h5{
   font-weight: bold;
}
@media only screen and (max-width: 768px) {
  .container-invoice {
    width: 100%;
  }
  .container-invoice .card {
    width: 100%;
    overflow-x:hidden ;
  }
  .container-invoice .card-lower .total {
    pointer-events: all;
  }
}
