 body {
  display: inline;
  margin: 0;
  padding: 0;
  background-color:  rgb(4,21,45);
} 
*{
  ::-webkit-scrollbar{
    display: none;
  }
  font-family: 'Times New Roman', Times ,serif , Georgia; 
  /* font-family: Georgia, 'Times New Roman', Times, ; */

}

